page-details {
	.save-btn {
       border-radius: 30px !important;
       border: 1px solid #ffffff;
    }
	
	.cancel-btn {
       border-radius: 30px !important;
       border: 1px solid #ffffff;
    }
}
