<ion-view title="Add Pet" id="page13">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-camera"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="addPet-form14" class="list">
      <label class="item item-input" id="addPet-input23">
        <span class="input-label">Pet's name</span>
        <input type="text" placeholder="Pet's name">
      </label>
      <label class="item item-input" id="addPet-input27">
        <span class="input-label">Breed</span>
        <input type="text" placeholder="e.g. prussian, exotic,...">
      </label>
      <label class="item item-input" id="addPet-input24">
        <span class="input-label">Type</span>
        <input type="text" placeholder="e.g. dog, cat,...">
      </label>
      <label class="item item-input" id="addPet-input25">
        <span class="input-label">Sex</span>
        <input type="text" placeholder="Sex">
      </label>
      <label class="item item-input" id="addPet-input12">
        <span class="input-label">Age</span>
        <input type="number" placeholder="Month">
      </label>
      <label class="item item-input" id="addPet-input28">
        <span class="input-label">Weight</span>
        <input type="number" placeholder="Kilogram">
      </label>
      <a ui-sref="tabsController.myPets" id="addPet-button14" class="button button-balanced  button-block icon-left ion-android-checkmark-circle">Confirm</a>
    </form>
  </ion-content>
</ion-view>