<ion-view title="Home" hide-back-button="true" id="page10">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-exit"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/cP2AtlK1QtKIFIuNIFWJ_WellVetLogo.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="home-form8" class="list">
      <label class="item item-input" id="home-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </form>
    <div class="list card" id="home-card24">
      <ion-item class="item-avatar item-icon-right" id="home-list-item52">
        <img src="img/DAtkBJq7TlSKPWCg99do_Doctor.png">
        <h2>Dr. Anne</h2>
        <p>10 minutes ago</p>
        <i class="icon ion-android-more-horizontal icon-accessory"></i>
      </ion-item>
      <div class=" item item-image">
        <img src="img/E3GNWMBTJ2D1nPrPwdag_treat.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left balanced" id="home-list-item53">
        <i class="icon ion-ios-paw"></i>
      </ion-item>
      <div class="item item-body" id="home-list-item-container7">
        <div id="home-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Dr. Anne</strong> Your dog is in our care.
            <br>Liked by
            <strong>Adam</strong>,
            <strong>KiraKiraP</strong>, and
            <strong>2 others</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="list card" id="home-card25">
      <ion-item class="item-avatar item-icon-right" id="home-list-item54">
        <img src="img/DAtkBJq7TlSKPWCg99do_Doctor.png">
        <h2>Dr. Anne</h2>
        <p>30 minutes ago</p>
        <i class="icon ion-android-more-horizontal icon-accessory"></i>
      </ion-item>
      <div class=" item item-image">
        <img src="img/JTIdsObdQSySZVTIm7m7_Siamesecatwithvet.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left balanced" id="home-list-item55">
        <i class="icon ion-ios-paw"></i>
      </ion-item>
      <div class="item item-body" id="home-list-item-container8">
        <div id="home-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Dr. Anne</strong> Your cat is very naughty.
            <br>
            <strong>Worrapol</strong> Oh my cat!!!!!
            <br>Liked by
            <strong>Worrapol</strong>, and
            <strong>2 others</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>