<ion-view title="My Account" id="page11">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-camera"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/5fhttZtTE656okS6gLqg_UserCircle.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h2 id="myAccount-heading1" style="color:#0099B6;font-weight:600;text-align:center;">Adam</h2>
    <h4 id="myAccount-heading2" style="color:#000000;">About Me</h4>
    <form id="myAccount-form13" class="list">
      <div id="myAccount-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">I love pets. I’ve always had pets – growing up my house usually had 3 cats and 2 dogs.</p>
      </div>
      <button id="myAccount-button6" class="button button-positive  button-block icon-left ion-android-person">Edit Profile</button>
      <a ui-sref="login" id="myAccount-button5" class="button button-assertive  button-block icon-left ion-log-out">Logout</a>
    </form>
  </ion-content>
</ion-view>