<ion-view title="My Pets" id="page15">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-create"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <ion-list id="myPets-list16">
      <ion-item class="item-thumbnail-left item-icon-right positive" id="myPets-list-item79" ui-sref="tabsController.pet">
        <img src="img/NrP6AUMbS6mdBYpVwXlb_dog.jpg">
        <h2positive>MooMoo
          <p style="white-space:normal;">Latest treatment: March 18, 2017 6:00 PM</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button class="button-positive">Edit</ion-option-button>
          <ion-option-button class="button-assertive">Delete</ion-option-button>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right positive" id="myPets-list-item81">
        <img src="img/O9ZG7953SSalNWja1QTe_cat.jpeg">
        <h2positive>Missy
          <p style="white-space:normal;">Latest treatment: March 15, 2017 9:00 AM</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button class="button-positive">Edit</ion-option-button>
          <ion-option-button class="button-assertive">Delete</ion-option-button>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right positive" id="myPets-list-item82">
        <img src="img/jrIfxH4QRyQnIuosNWRk_bunny.jpg">
        <h2positive>Angelo
          <p style="white-space:normal;">Latest treatment: March 11, 2017 5:00 PM</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button class="button-positive">Edit</ion-option-button>
          <ion-option-button class="button-assertive">Delete</ion-option-button>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right positive" id="myPets-list-item83">
        <img src="img/AwrjfW27RmmV8aNc7aHM_bird.jpg">
        <h2positive>Nok
          <p style="white-space:normal;">Latest treatment: January 12, 2017 6:00 PM</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button class="button-positive">Edit</ion-option-button>
          <ion-option-button class="button-assertive">Delete</ion-option-button>
        </h2positive>
      </ion-item>
    </ion-list>
    <a ui-sref="tabsController.addPet" id="myPets-button13" class="button button-positive  button-block icon-left ion-android-add-circle">Add Pet</a>
  </ion-content>
</ion-view>