<ion-view title="Notifications" id="page12">
  <ion-content padding="false" class="has-header">
    <ion-list id="notifications-list13">
      <ion-item class="item-thumbnail-left positive" id="notifications-list-item59">
        <img src="img/tzHo2zZiTGal4ogBVDhr_Doctor.png">
        <h2positive>Dr. Anne
          <p style="white-space:normal;">Added a new appointment on April 22, 2017 6:00 PM</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="notifications-list-item67">
        <img src="img/tzHo2zZiTGal4ogBVDhr_Doctor.png">
        <h2positive>Dr. Anne
          <p style="white-space:normal;">Added a new appointment on April 8, 2017 1:00 PM</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="notifications-list-item68">
        <img src="img/tzHo2zZiTGal4ogBVDhr_Doctor.png">
        <h2positive>Dr. Anne
          <p style="white-space:normal;">Added a new appointment on March 18, 2017 9:00 AM</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="notifications-list-item69">
        <img src="img/tzHo2zZiTGal4ogBVDhr_Doctor.png">
        <h2positive>Dr. Anne
          <p style="white-space:normal;">Postponed an appointment of March 11, 2017 5:00 PM to March 18, 2017 9:00 AM</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="notifications-list-item70">
        <img src="img/tzHo2zZiTGal4ogBVDhr_Doctor.png">
        <h2positive>Dr. Anne
          <p style="white-space:normal;">Canceled an appointment of March 11, 2017 5:00 PM</p>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>