<ion-view title="Pet" id="page9">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-camera"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/rXHUvcYtTwW5RCsXUWUg_dog.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="pet-form15" class="list">
      <label class="item item-input" id="pet-textarea9">
        <span class="input-label">Pet's name</span><textarea placeholder="">MooMoo</textarea></label>
      <label class="item item-input" id="pet-textarea10">
        <span class="input-label">Type</span><textarea placeholder="">Dog</textarea></label>
      <label class="item item-input" id="pet-textarea17">
        <span class="input-label">Breed</span><textarea placeholder="">Dachshund</textarea></label>
      <label class="item item-input" id="pet-textarea18">
        <span class="input-label">Sex</span><textarea placeholder="">Male</textarea></label>
      <label class="item item-input" id="pet-textarea11">
        <span class="input-label">Age</span><textarea placeholder="">6 months</textarea></label>
      <label class="item item-input" id="pet-textarea12">
        <span class="input-label">Weight</span><textarea placeholder="">1 kilogram</textarea></label>
      <button id="pet-button15" class="button button-positive  button-block icon-left ion-edit">Edit</button>
    </form>
  </ion-content>
</ion-view>