<ion-view title="Schedule" id="page14">
  <ion-content padding="false" class="has-header">
    <ion-list id="schedule-list15">
      <ion-item class="item-thumbnail-left item-icon-right positive" id="schedule-list-item74">
        <img src="img/tzHo2zZiTGal4ogBVDhr_Doctor.png">
        <h2positive>Dr. Anne
          <p style="white-space:normal;">April 22, 2017 6:00 PM</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button class="button-positive">Accept</ion-option-button>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right positive" id="schedule-list-item75">
        <img src="img/tzHo2zZiTGal4ogBVDhr_Doctor.png">
        <h2positive>Dr. Anne
          <p style="white-space:normal;">April 8, 2017 1:00 PM</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button class="button-positive">Accept</ion-option-button>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right positive" id="schedule-list-item76">
        <img src="img/tzHo2zZiTGal4ogBVDhr_Doctor.png">
        <h2positive>Dr. Anne
          <p style="white-space:normal;">March 18, 2017 9:00 AM</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button class="button-positive">Accept</ion-option-button>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>