<ion-view title="Setting" id="page16">
  <ion-content padding="false" class="has-header">
    <ion-list id="setting-list17">
      <ion-item class="item-divider" id="setting-list-item-divider1"> My Account &amp; Profile</ion-item>
      <ion-item class="item-icon-left" id="setting-list-item91" ui-sref="myAccount">
        <i class="icon ion-android-person"></i>Edit Profile</ion-item>
      <ion-item class="item-icon-left" id="setting-list-item88">
        <i class="icon ion-android-options"></i>Account Setting</ion-item>
      <ion-item class="item-divider" id="setting-list-item-divider2"> Security &amp; Privacy</ion-item>
      <ion-item id="setting-list-item89">Help &amp; feedback</ion-item>
      <ion-item id="setting-list-item96">About WellVet</ion-item>
    </ion-list>
  </ion-content>
</ion-view>